
@page
@model MyApp.Namespace.Pageforlab5Model
@{
}
<style>
    form {
        text-align: center;
    }

    #sumResult {
        text-align: center;
        background-color: blueviolet;
    }

    #sumResultButton {
        display: block;
        margin: 0 auto; 
    }
    #hideSumResultButton
    {
        text-align: center;
        background-color: blueviolet;
    }
</style>

<form id="sumForm">
    <input type="number" id="num1" placeholder="Enter number 1"> <br>
    <input type="number" id="num2" placeholder="Enter number 2"><br>
    <button type="button" id="sumButton">Sum</button><br>
    <p id="sumResult" style="display: none;">Result of Sum</p>
    <button type="button" id="hideSumResultButton" style="display: none;">Hide Result Sum</button>
    <button type="button" id="hideSumResultButton" style="display: block;">Hide Result Sum</button>

</form> 


<script src="C:\Users\SENA\Desktop\Ceng382\Lab4\RazorPagesMovie\wwwroot\js\toggleElements.js"></script>

<script src="~/js/toogleElements.js" asp-append-version="true"></script>



