@page
@model RazorPagesMovie.Pages.ListRoomsModel

<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h2>List of Rooms</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>Room Name</th>
                    <th>Capacity</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var room in Model.Rooms)
                {
                    <tr>
                        <td>@room.RoomName</td>
                        <td>@room.Capacity</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>
</html>
